<div class="navbar-nav mr-auto">
  <div class="nav-item">
    <a
      routerLink="/"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/profile"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Profile
    </a>
  </div>
  <div *ngIf="email == admin" class="nav-item">
    <a
    routerLink="/admin"
    class="nav-link"
    routerLinkActive="router-link-exact-active"
    [routerLinkActiveOptions]="{ exact: true }"
    >
    Admin
  </a>
  </div>
  <div *ngIf="userIsManager()" class="nav-item">
    <a
    routerLink="/manager"
    class="nav-link"
    routerLinkActive="router-link-exact-active"
    [routerLinkActiveOptions]="{ exact: true }"
    >
    Management
  </a>
  </div>
</div>
